.principal{
	padding: 0 10%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.texto-de-aviso{
	width: 300px;
}
.campo-texto-resultado{
	display: block;
	width: 250px;
	height: 400px;
}
.enquadro{
	padding: 0 5%;
}